
.product-name{
    margin: 20px;

}
.FilterContainer{
    display: flex;
    justify-content: space-between;

}
.filter{
    margin: 20px;

}
.filterText{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;

}
.selected{
    padding:10px;
    margin-right: 20px;

}
@media only screen and (max-width:380px){
    .filter{
        width: 0px 20px;
        display: flex;
        flex-direction: column;
    }
    .filterText{
        margin-right: 0px;
    }
    .selected{
        margin: 10px 0px;
    }
}
