.categorytle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  padding: 5px;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  height: auto;
  margin: 5px;
}
.categories {
  position: relative;
}
.ctgimg{
  width: 95%;
  height: 100%;
  object-fit: cover;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ctgtext {
  top: 0;
  margin-bottom: 20px;
  bottom: 0;
  color: white;
  font-size: x-large;
  font-weight: bold;
}
.categoriesbtn {

  border: none;
  padding: 10px;
  background-color: white;
  color: grey;
  cursor: pointer;
}
@media only screen and (max-width:380px){
  .categorytle{
    font-size: 24px;
    padding: 1px;
  }
  .cards{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding: 0;
  }
  .ctgtext{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ctgimg{
    width: 100%;
    height: 30vh;
  }
}