.Footercontainer{
    display: flex;
    background-color: white;

    
}
.leftFooter{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20;


}
.contactItem{
    color: black;
}

.noo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.rightFooter{
    color:  black;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20;

}
.abt{
    margin-top: 20px;
    color:  black;

}
article{
    margin: 20px 0px;
    color:  black;
}
.centerFooter{
    flex: 1;
    color:  black;
}
.socialContainer{
    color:  black;
    display: flex;

}
.socialIcons{
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50px;


}
.title{
    margin-top: 20px;
    margin-bottom: 30px;
}
.useful{
    color: black;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}
.logoimg{
    margin-top: 20px;
    margin-left: 10px;
    width: 30%;
    height: 30%;
}
@media only screen and (max-width:600px){
    .Footercontainer{
        flex-direction: column;
    }
    .leftFooter{
        display: flex;
    }
    .logoimg{
margin-left: 50px;
        width: 70%;
    }
    .noo{
        margin-left:10 ;
    }
    .abt{
        align-items: center;
        margin-left: 70px;
    }
    article{
        margin: 0px;
    }.title{
        margin-right: 70px;
    }

}