.lander{
    display: flex;
    align-items: center;
    justify-content: left;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: rgb(227, 233, 227);
}

.image{
 width: auto;
 height:auto;
 margin: 5px;
 border: none;

}
.Title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bold;
}
.description{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:  50px 0px;
    font-size: 20px;
    letter-spacing: 3PX;
}
.landingbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 80px ;

}

@media only screen and (max-width:600px){
    .lander{
        margin-top: 10px;
    }
    .image{
        display: none;
    }
    .Title{
        justify-content: center;
        font-size: 25px;
    }
    .description{
        font-size: 12px;
    }
    .landingbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        align-items: center;
        padding: 5px;
    }
}


